/* links style */
ul{
    &.links {  
        padding: 0;  
        position:relative;
        margin: 0;
        li{
            display: inline;        
            line-height: normal;
            position: relative;
             &:before{
                @include size(3px, 3px);
                background-color: #aaa;
                @include element-absolute(45%, inherit, 0, left);
            }     
            a {
                @include rtl-margin-right (5px);
                @include rtl-padding-left(10px) ; 
                color: $theme-color-tertiary;
                font-size: $font-size-base - 2;

                &:hover{
                    color: $theme-color;    
                }      
            } 
            .fa,.icon{
                margin-right:10px;
            }  
            &:first-child {
                &:before {
                    display: none;
                }
            }     
        }               
    }

}    
.tree-menu {
	padding:0;
	background:$gray-dark;
	ul {
		border: none;
		padding: 0;
		margin: 0;
		float: none;
		list-style: none;
		li {
			border-top: 1px solid rgba(255, 255, 255, 0.1);
			border-bottom: 1px solid rgba(255, 255, 255, 0.1);
			border-left: none;
			border-right: none;
			padding: 15px;
			margin-bottom: -1px;
			float: none;
			.accordion-heading{
				cursor: pointer;
				.fa{
					font-size: $font-size-base - 6;
					color: $link-hover-color;
				}
			}
			&.open a, a {
				color: $theme-color-tertiary;
				font-weight: bold;
				padding: 0;
				background: transparent;
			}
			&:first-child{
                border-top:none;
            }
            &:last-child{
                border-bottom:none;
            }
		}
	}
	ul ul {
		@include rtl-padding-left(20px);
		li {
			list-style: none;
			border:none;
			padding: 8px 0;
			a {
				color: $text-color;
				font-weight: normal;	
				&:hover {
					color: $theme-color;
				}			
			}
		}
	}
	.vertical {
		.dropdown-submenu:hover {
			> .dropdown-menu {
				display: block;
			}
		}
		.dropdown-menu {
			top: 0;
			@include rtl-left(100%);
			width: 100%;
		}
	}
}
.list-group-item {
	ul {
		@include rtl-padding-left(20px);
		li {
			list-style: none;
			padding: 8px 0;
			a {
				color: $theme-color-tertiary;				
			}
		}
	}
}
div.required .control-label:before {
    color: #f00;
    content: "* ";
    font-weight: bold;
}

.modal-open {
  @include rtl-margin-right(13px);
}

.noborder {
	.box {
		border: none !important;
	}
}
.white{
	background:$white;
}

.red {
    color: #e93434;
    line-height: 20px;
}