 
 .products-owl-carousel{
    position: relative;
 }
.owl-carousel-play .owl-carousel{
    margin: 0;
}
 .products-block{
    border:1px solid $border-color;
    overflow: hidden;
    .border{
        &:after{
            background-color: $border-color;
            content: "";
            @include rtl-left(-10px);
            position: absolute;
            top: -1px;
            z-index: 9;
            @include size(9999px,1px);
        }    
        &:before{
            background-color: $border-color;
            content: "";
            @include size(1px,100%);
            position: absolute;
            @include rtl-right(-1px);
            top: 0;
            z-index: 9;
        }
        &.last.border:before {
            content: none;
        }
    }
    .product-col-wrap{
       /*  padding-left:$grid-gutter-width/2;
        padding-right:$grid-gutter-width/2; */
    }
    .owl-wrapper-outer{
      /*   margin-left:-$grid-gutter-width/2;
        margin-right:-$grid-gutter-width/2;  */
    }
    .owl-carousel{
        margin: 0;
    }
    .product-col:last-child {
        .product-block {
            @include rtl-border-right(none);
        }
    }
}

.price {
    // all page
    font-family: $product-price-font-family;
    //margin-bottom: $product-margin-base-horizontal;
    .price-new {
        color: $product-price-color;
        font-size: $product-price-font-size;
    }
    .price-old {
        font-size: $product-price-old-font-size;
        color: $product-price-old-color;
        text-decoration: line-through;
        font-family: $font-family-base;
    }
    // page product detail
    &.detail {
        padding:20px 0 0;
        .price-new {
            font-size: 30px;
            font-weight: bold;
        }
        ul{
            margin: 0;
        }
    }
}

/* product style */
.product-block {
    position: relative;
    width: 100%;
    overflow: hidden;
    .description{
        display: none;
    }
    .rating{
        display: none;
    }
    .bottom{
       font-size: 0;
       border-top:1px solid $border-color;
       > div{
            display: inline-block;
            width: 33.33%;
            border-right:1px solid $border-color;
            &:last-child{
                button,a{
                    border-top-right-radius: 50px;
                    border-bottom-right-radius: 50px;
                }
                @include rtl-border-right(none);
            }
            .btn{
                color: $theme-color-tertiary;
                &:hover{
                    color: $link-hover-color;
                }
            }
       }
       button{
            background:none;
       }
    }
    .top{
        padding:0 20px 20px;
        @include transition(all 0.4s ease 0s);
        z-index: 1;
        position:relative;
    }      
    .quickview{
        .btn{
            min-width: 136px;
        }
    } 
    .name {        
        margin-top: 0;   
        padding-top:10px;        
        font-size: $font-size-base;
        font-family: $font-family-base;   
        font-weight: normal;
        min-height: 45px;  
        a {
            color: $product-name-color;
            &:hover {
                color: $theme-color;
            }
        }
    }
    .image {
        position: relative;
        overflow: hidden;
        @include transition(all 0.4s ease 0s);
    }    
}
.cart{
    position: relative;
    @include transition(all 0.4s ease 0s);
    z-index: 99;
    .icon-cart{
        background: url(#{$image-theme-path}icon-shopping.png) no-repeat scroll center center $white;
        @include rounded-corners(50%);
        display: block;
        @include rtl-float-left();
        @include size(33px,33px);
        @include rtl-margin(-7px,5px,0,-12px);
    }
} 

.product-label {
    color: $product-label-color;
    font-size: $product-label-font-size;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    /* z-index: 3; */
    position: absolute;
    &.ribbon {
        position: absolute;
        @include rtl-right(0);
        top: 0;
        @include size(40px,40px);
        &:before {
            content: "";
            position: absolute;
            top: 0;
            @include rtl-right(0);
            width: 0;
            height: 0;
            border-top: 40px solid $gray-dark;
            @include rtl-border-left(40px solid transparent);
        }
        .product-label-special {
            display: block;
            text-align: center;
            height: 100%;
            padding-top: 2px;
            @include rotate(45deg);
        }
    }
    &.ribbon2 {
        width: 85px;
        height: 88px;
        overflow: hidden;
        position: absolute;
        top: 0px;
        @include rtl-right(0px);
        z-index: 99;
        display: block;
        font-family: $headings-font-family;
        font-size: 10px;
        .product-label-special {
            display: block;
            text-transform: uppercase;
            text-align: center;
            @include rotate(45deg);
            position: relative;
            padding: 6px 0;
            left: -2px;
            top: 12px;
            width: 120px;
            background-color: $brand-warning;
            color: $black;
            @include box-shadow(0px 0px 3px rgba(255, 255, 255, 0.3));
        }
    }
    &.ribbon1 {
        width: 85px;
        height: 88px;
        overflow: hidden;
        position: absolute;
        top: 0px;
        @include rtl-left(0px);
        z-index: 99;
        display: block;
        font-family: $headings-font-family;
        font-size: 10px;
        .product-label-special {
            display: block;
            text-transform: uppercase;
            text-align: center;
            @include rotate(-45deg);
            position: relative;
            padding: 6px 0;
            @include rtl-left(-32px);
            top: 15px;
            width: 120px;
            background-color: $brand-warning;
            color: $black;
            @include box-shadow(0px 0px 3px rgba(255, 255, 255, 0.3));
        }
    }
    &.bts {
        text-align: center;
        display: block;
        text-transform: uppercase;
        width: 46px;
        height: 20px;
        position: absolute;
        top: 10px;
        background-color: $theme-color;
        @include rtl-right(10px);
        border-radius: 2px;
        line-height: 20px;
        .product-label-special {
            display: block;
            width: 100%;
            height: 100%;
            position: relative;
            &:before {
                content: "";
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                border-top: 4px solid $theme-color;
                height: 0;
                width: 0;
                position: absolute;
                left: 42%;
                bottom: -4px;
            }
        }
    }
    &.sale {
        // fix font
        text-align: center;
        text-transform: uppercase;
        width: 45px;
        height: 20px;
        position: absolute;
        top: 15px;
        background-color: $brand-success;
        @include rtl-right(10px);
        line-height: 20px;
        font-family: $font-family-secondary;
    }

    &.sale-border {
        text-align: center;
        display: block;
        text-transform: uppercase;
        width: 40px;
        height: 20px;
        position: absolute;
        top: 15px;
        border: 2px solid #d95e41;
        @include rtl-right(10px);
        color: #474747;
    }
    &.flag {
        text-align: center;
        display: block;
        text-transform: uppercase;
        width: 60px;
        height: 30px;
        position: absolute;
        top: 15px;
        background-color: $brand-success;
        @include rtl-left(0);
        line-height: 30px;
        &:before {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            @include rtl-right(-15px);
            top: 0;
            border-top: 15px solid $brand-success;
            @include rtl-border-right(15px solid transparent);
        }
        &:after {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            @include rtl-right(-15px);
            bottom: 0;
            border-bottom: 15px solid $brand-success;
            @include rtl-border-right(15px solid transparent);
        }
    }
}
// Rating
.rating {
    .fa-stack {
        width: 1em;
        font-size: 11px;
        width: 11px;
    }
    .fa-star {
        color: #f7bc3d;
        
    }
    .fa-star-o {
        color: #d5d5d5;
    }
}
